<br />

<div class="booyah-box col-10 offset-1">
  <h1>Careers with Kibi</h1>

  <p>
    Please send resumes to raquibbi@flixter.io with the subject as the position applying to, thanks!  
  </p>
</div>